@model SeguridadApp.Models.Agente
@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

<form action="/Agentes/Editar/@Model.Id" method="post">
    <input type="text" name="name" value="@Model.Id" />
    <div class="row">
        <div class="col s3">
            <div class="col s3">
                <img src="@Model.Foto" alt="Alternate Text" width="125" height="140" />
                <input type="file" name="uploadFoto" value="" />

            </div>
        </div>
        <div class="col s7">
           
            <div class="row">
                Primer Apellido:   <input type="text" name="Apellido1" value="@Model.Apellido1" />
                Segundo Apellido:   <input type="text" name="Apellido2" value="@Model.Apellido2" />
                Nombres:   <input type="text" name="Nombres" value="@Model.Nombres" />
            </div>
            <div class="row">
                Cedula:   <input type="text" name="Cedula" value="@Model.Cedula" />
                Rango:   <input type="text" name="Rango" value="@Model.Rango" />
                Telefono:   <input type="text" name="Telefono" value="@Model.Telefono" />
                Fecha Nacimiento: <input type="text" name="FechaNacimiento" value="@Model.FechaNacimiento" />
            </div>
        </div>
    </div>
    <input type="submit" name="name" value="Actualizar" />


</form>