@model IEnumerable<SeguridadApp.ViewModels.AgenteRangoViewModel>
@{

    ViewBag.Title = "Inicio";
}

<br />
<hr />
<hr />
<div class="row">
    @Html.ActionLink("         Agregar nuevo agente ", "Create", null, new { @class = "waves-effect waves-light btn-large col s12  actionLinkReportar" })
</div><br />


@**@<table class="striped responsive-table">
    <thead>
        <tr>
            <th>1er. Apellido</th>
            <th>2do. Apellido</th>
            <th>Nombres</th>
            <th>Cedula</th>
            <th>Rango</th>
            <th>Telefono</th>
            <th>Foto</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.Apellido1</td>
                <td>@item.Apellido2</td>
                <td>@item.Nombres</td>
                <td>@item.Cedula</td>
                <td>@item.DescripcionRango</td>
                <td>@item.Telefono</td>
                <td><img src="@item.Foto" alt="SIN FOTO" width="30" height="30" /></td>
                <td>
                    <a href="~/Agentes/Detalle/@item.AgenteId"><i class="far fa-eye"></i> Ver </a>
                </td>
                <td>
                    <a href="~/Agentes/Editar/@item.AgenteId"><i class="fas fa-user-edit"></i> Editar </a>

                </td>
                <td>
                    <a href="~/Agentes/Agentes/Detalle/@item.AgenteId"><i class="far fa-trash-alt"></i> Eliminar </a>
                </td>

            </tr>
        }
    </tbody>
</table>